*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin-left:auto ;
    margin-right:auto ;
    background-color: bisque;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size: 5rem;
    margin: 2rem;
}
p{
    font-size: 4rem;
    color: green;
    margin: 0 0 2rem 0 ;
}
button{
    font-size: 2rem;
    padding: .5rem ;
    margin: .5rem;
}